In [57]:
import pandas as pd
pd.set_option('display.max_rows', 5000)
pd.set_option('display.max_columns', 5000)

In [58]:
data = pd.read_csv('data/raw/orders.csv')

In [59]:
orders_types = {1:'Dine In', 2:'Pick Up', 3:'Delivery', '4':'Drive Thru'}
orders_sources = {1:'Cashier', 2:'API', 3:'Call Center'}
orders_statuses = {1:'Pending', 2:'Active', 3:'Declined', 4:'Closed', 5:'Returned', 6:'Joined', 7:'Void'}
orders_delivery_statuses = {1:'sent to kitchen', 2:'ready', 3:'assigned', 4:'en route', 5:'delivered', 6:'closed'}
products_statuses = {1:'Pending', 2:'Active', 3:'Closed', 4:'Moved', 5:'Void', 6:'Returned', 7:'Declined'}
discounts_types = {1:'Open', 2:'Predefined', 3:'Coupon', 4:'Loyalty', 5:'Promotion'}

In [60]:
data.dtypes

id                                object
app_id                            object
promotion_id                     float64
discount_type                    float64
reference_x                      float64
number                             int64
type                               int64
source                             int64
status                             int64
delivery_status                  float64
guests                             int64
kitchen_notes                     object
customer_notes                    object
business_date                     object
subtotal_price                   float64
discount_amount                  float64
rounding_amount                    int64
total_price                      float64
tax_exclusive_discount_amount    float64
delay_in_seconds                 float64
meta                              object
opened_at                         object
accepted_at                       object
due_at                            object
driver_assigned_at               float64
dispatched_at                    float64
driver_collected_at              float64
delivered_at                     float64
closed_at                         object
created_at                        object
updated_at                        object
reference                          int64
check_number                       int64
dtype: object

In [61]:
data['type'] = data['type'].map(orders_types)
data['source'] = data['source'].map(orders_sources)
data['status'] = data['status'].map(orders_statuses)
data['delivery_status'] = data['delivery_status'].map(orders_delivery_statuses)
# data['product_status'] = data['product_status'].map(products_statuses)
data['discount_type'] = data['discount_type'].map(discounts_types)

In [67]:
needed_columns = ['id', 'created_at', 'type', 'source', 'status', 'delivery_status', 'subtotal_price', 'total_price']

In [68]:
sub_data = data[needed_columns].copy()

In [69]:
sub_data.isnull().sum()

id                   0
created_at           0
type                 0
source               0
status               0
delivery_status    281
subtotal_price       0
total_price          0
dtype: int64

In [72]:
sub_data['delivery_status'] = sub_data['delivery_status'].fillna("None")

In [73]:
sub_data.isnull().sum()

id                 0
created_at         0
type               0
source             0
status             0
delivery_status    0
subtotal_price     0
total_price        0
dtype: int64

In [75]:
sub_data.sort_values("created_at", inplace=True)

In [77]:
sub_data = sub_data.reset_index(drop=True)

In [83]:
sub_data.status.value_counts()

Closed      14571
Void          334
Returned       65
Name: status, dtype: int64

In [85]:
sub_data.source.value_counts()

Cashier        14959
Call Center       11
Name: source, dtype: int64

In [87]:
sub_data.type.value_counts()

Pick Up     12206
Dine In      2752
Delivery       12
Name: type, dtype: int64