In [14]:
import pandas as pd
import requests
import time
pd.set_option('display.max_columns', None)

In [15]:

def foodics_api(method, payload={}):

  url = f"https://api.foodics.com/v5/{method}"
  token = 'eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6ImM1ZmIxMjE2MDk0YTEyODQ3ZTkyMTBhNDAxNjUzNDE4ZDI2ZWEyZGY1YTMzYzQ2ZDcyMzM3ZDhlMTc2ZDQwMmJkNjVkNTFiNmQ4YThlYTE3In0.eyJhdWQiOiI5OTNjNWM1Ni05YjkyLTRhYmMtOWUwNy05YjdjMGNiMzQ0NzUiLCJqdGkiOiJjNWZiMTIxNjA5NGExMjg0N2U5MjEwYTQwMTY1MzQxOGQyNmVhMmRmNWEzM2M0NmQ3MjMzN2Q4ZTE3NmQ0MDJiZDY1ZDUxYjZkOGE4ZWExNyIsImlhdCI6MTY4NDk0MDU3OSwibmJmIjoxNjg0OTQwNTc5LCJleHAiOjE4NDI3OTMzNzksInN1YiI6Ijk3NWIzY2U3LTIyMTItNDZjMS1hMjg2LTA4NjU4YjQ1NWRiNSIsInNjb3BlcyI6W10sImJ1c2luZXNzIjoiOTc1YjNjZTctMzllZC00MGIxLWJmODItYmZhZjRkYmY0YTdlIiwicmVmZXJlbmNlIjoiNjMyMzc4In0.aMxoYSkN1NFxvEgfd0itmmvENYt73A7gky5AIup7rgRIe8uY5T9sJPVzOj3kJfFcCadNwBjB-h6fKMKAc1QmcJY1G5j8Va9edCUYXmUNl1hMh2OydMH87AFJ7DSqK2Wic-spanliG7tsRdLihN9aRl4676TriA8Bd93iV9J4ZPgfmhdhytE5VMNqVDDTjX2CRNo2HzJQwEQFzZjZCZwt36jSjt_zk36YGNx2Fd1zk2ryZvfDsnnSZB4G8DNJPNmd9gAfvoSW3RvYn46qXm3ZRO4dZoUaixO7Fqb1-p0_UHHTDKIHV50i4Wpc1hNCjdRGI6g1dVG8cl-sYIKa8cNKHn_PzBRy6Q81XIEMrnSLQUHxLlqDms4f4YDIAUVSfem0gKtR2UMIeS8X1FtJkgTvbXTipvoXDMilWWo0sNAJ3wSQ_75b0aPd_p_6Hbydh2-2gJilLZ6tsDbkjsx5FjUp9LNDTuWof5U-5x-1glQAixoQPcqz-LMB6pFFPq-kaecmSPOhKM24MMg2YFBTyzARjah36lZ8YtJCZ0A4N87pDsOzTI8HGyBH19Z-MtFuQpoAVoBgDG9kApCgeEjnIuJtmrEWdcyWPx0WjXqm7qGot-fRQ71IhDJT8EQ5YRiYm8Gg3Yn3AobpwhBtWRaNiVDBCxIQJMUQrQL40YCWYQxwZy4'
  headers = {
    'Authorization': f'Bearer {token}',
    'Accept': 'application/json',
    'Content-Type': 'application/json'
  }

  response = requests.request("GET", url, headers=headers, data=payload)
  if response.status_code != 200:
        return response.status_code

  return response.json()

In [16]:
def call_foodics(method, last_page, includables=None):

    list_responses = []

    for page in range(1, last_page+1):
        print(f"page {page}")
        retries = 3
        success = False

        while not success and retries > 0:
            try:
                if includables is None:
                    response = foodics_api(f'{method}?page={page}')
                else:
                    response = foodics_api(f'{method}?page={page}&include={includables}')
                # If the request is successful, the following line will be executed
                list_responses.append(response['data'])
                success = True
            except Exception as e:
                print(f"Request failed with page: {page} {str(e)}, retrying... {retries} retries left.")
                retries -= 1
                time.sleep(70) # wait 70 seconds before retrying


        if not success:
            print(f"Failed to retrieve data for page {page} after 3 retries.")
            continue
    return list_responses

# Branches

In [17]:
response = foodics_api('branches')
last_page = response['meta']['last_page']
last_page

list_responses = call_foodics('branches', last_page)

page 1

In [18]:
df_branches = pd.DataFrame([item for sublist in list_responses for item in sublist])
df_branches

,id,name,name_localized,reference,type,latitude,longitude,phone,opening_from,opening_to,inventory_end_of_day_time,receipt_header,receipt_footer,settings,created_at,updated_at,deleted_at,receives_online_orders,accepts_reservations,reservation_duration,reservation_times,address
0,975b3d24-cb71-4df8-930e-054bcd67f90c,4Chicks Abdoun,None,B02,1,0,0,None,09:00,03:00,00:00,None,Thank You!,{'branch_tax_number': '14905795'},2022-09-26 08:33:56,2022-10-02 08:09:02,None,True,False,30,None,None
1,975b3d24-ce3d-4801-9c11-582a817cc591,4Chicks 7th circle,None,B01,1,0,0,None,10:00,03:00,00:00,None,Thank You!,"{'branch_tax_number': '14905795', 'branch_tax_...",2022-09-26 08:33:56,2022-10-02 08:09:24,None,True,False,30,None,None
2,976744f0-20ac-4dd5-a06a-6a1ee9ffa7b5,4Chicks Al-Jubeha,None,B03,1,None,None,None,10:00,03:00,00:00,None,None,[],2022-10-02 08:05:40,2022-10-02 08:22:37,None,True,False,30,None,None

In [19]:
df_branches = df_branches[['id', 'name', 'opening_from', 'opening_to']]

In [20]:
df_branches = df_branches.rename(columns={'id': 'branch_id', 'name': 'branch_name'})

In [21]:
df_branches.to_csv('../../data/branches.csv', index=False)

# Products

In [22]:
response = foodics_api('products')
last_page = response['meta']['last_page']
last_page

list_responses = call_foodics('products', last_page, includables='category')

page 1
page 2
page 3

In [23]:
df_products = pd.DataFrame([item for sublist in list_responses for item in sublist])
df_products['category_name'] = df_products['category'].apply(lambda x: x['name'])
df_products['category_id'] = df_products['category'].apply(lambda x: x['id'])
df_products.rename(columns={'id': 'product_id', 'name': 'product_name', 'sku':"product_sku"}, inplace=True)
df_products.drop('category', axis=1, inplace=True)
df_products

,product_id,product_sku,barcode,product_name,name_localized,description,description_localized,image,is_active,is_stock_product,is_ready,pricing_method,selling_method,costing_method,preparation_time,price,cost,calories,created_at,updated_at,deleted_at,meta,category_name,category_id
0,975b3d60-49fe-4714-a61a-927e0180f6f0,sk-002,None,بيبسي دايت (بيبسي دايت),None,None,None,None,True,False,True,1,1,1,None,0.0,0.0,None,2022-09-26 08:34:35,2022-09-26 09:45:05,2022-09-26 09:45:05,None,مشروبات,975b3d55-4cab-406a-82a7-7a9dc5675347
1,975b3d60-4ed3-4ef7-a2ec-0e8c31e31ca5,sk-001,None,Pepsi (Pepsi),None,None,None,None,True,True,True,1,1,2,None,0.0,0.0,None,2022-09-26 08:34:35,2022-09-26 09:45:05,2022-09-26 09:45:05,None,مشروبات,975b3d55-4cab-406a-82a7-7a9dc5675347
2,975b3d60-5c79-480a-adfd-f07452c38103,sk-003,None,كلاسيك لحمه (Tasbera Beef Beef),Tasbera Beef - classic (وجبة تصبيرة لحمة),None,None,https://posrocket-production.s3.amazonaws.com:...,True,False,True,1,1,1,None,0.0,0.0,None,2022-09-26 08:34:35,2022-09-26 09:45:05,2022-09-26 09:45:05,None,كلاسيك,975b3d56-ac1f-4e74-9447-40a0f6b1eb0b
3,975b3d60-5d3f-46ae-800b-479e5caf7b09,sk-005,None,بيج تشكس لحمه (بيج تشكس لحمه),بيج تشكس لحمه (بيج تشكس لحمه),None,None,https://posrocket-production.s3.amazonaws.com:...,True,False,True,1,1,1,None,0.0,0.0,None,2022-09-26 08:34:35,2022-09-26 09:45:05,2022-09-26 09:45:05,None,بيج تشكس,975b3d57-c30a-4b98-91ed-1711c5c2ca01
4,975b3d60-6219-483a-8a07-d3a39f05df8d,sk-004,None,صوص ثوم حار (Chili Garlic Sauce),Chili Garlic Sauce (صوص ثوم حار),None,None,https://posrocket-production.s3.amazonaws.com:...,True,False,True,1,1,1,None,0.0,0.0,None,2022-09-26 08:34:35,2022-09-26 09:45:05,2022-09-26 09:45:05,None,صوصات,975b3d54-5c9f-4134-8818-69ae552bd1d9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,98973727-b7be-4b7d-97b5-682de680c8c4,sk-0124,None,شيكس برغر / طلبات / بيبسي +بطاطا,None,None,None,None,True,False,True,1,1,2,None,5.0,NaN,None,2023-03-02 10:18:48,2023-04-23 12:50:17,2023-04-23 12:50:17,None,برغر دجاج,975b5737-ccc4-4c1f-8599-5e246eee4a3b
124,98973763-881d-4a1f-abea-72de78324622,sk-0125,None,دبي برغر / طلبات / بيبسي +بطاطا,None,None,None,None,True,False,True,1,1,2,None,5.5,NaN,None,2023-03-02 10:19:27,2023-04-23 12:50:17,2023-04-23 12:50:17,None,برغر دجاج,975b5737-ccc4-4c1f-8599-5e246eee4a3b
125,9897386f-7b4f-4b86-9bb2-53d6c8965efc,sk-0126,None,وجبة موظفين,None,None,None,None,True,False,True,1,1,2,None,0.0,NaN,None,2023-03-02 10:22:23,2023-03-02 10:22:23,None,None,شاورما,975b5737-c8e7-4ca6-a4b8-2c1546d5b8a1
126,990008dc-e7f2-441d-bed4-0dd918bc5044,sk-0128,None,وجبة مشاركة شاورما + 2 بيبسي // 8JD,None,None,None,None,True,False,True,1,1,2,None,8.0,NaN,None,2023-04-23 12:51:17,2023-04-23 12:51:52,None,None,شاورما,975b5737-c8e7-4ca6-a4b8-2c1546d5b8a1
127,9900095a-aea8-4d0e-a4d8-736be73aaf23,sk-0129,None,وجبة مشاركة برغر + 2 بيبسي // 10JD,None,None,None,None,True,False,True,1,1,2,None,10.0,NaN,None,2023-04-23 12:52:39,2023-04-23 12:58:34,None,None,برغر دجاج,975b5737-ccc4-4c1f-8599-5e246eee4a3b

In [24]:
df_products.isnull().sum()

product_id                 0
product_sku                0
barcode                  128
product_name               0
name_localized            73
description              128
description_localized    128
image                     69
is_active                  0
is_stock_product           0
is_ready                   0
pricing_method             0
selling_method             0
costing_method             0
preparation_time         128
price                      0
cost                      55
calories                 128
created_at                 0
updated_at                 0
deleted_at                41
meta                     128
category_name              0
category_id                0
dtype: int64

In [25]:
df_products = df_products[['product_id', 'product_sku', 'product_name', 'category_name', 'category_id', 'is_active', 'is_stock_product', 'price']]

In [26]:
df_products.head()

,product_id,product_sku,product_name,category_name,category_id,is_active,is_stock_product,price
0,975b3d60-49fe-4714-a61a-927e0180f6f0,sk-002,بيبسي دايت (بيبسي دايت),مشروبات,975b3d55-4cab-406a-82a7-7a9dc5675347,True,False,0.0
1,975b3d60-4ed3-4ef7-a2ec-0e8c31e31ca5,sk-001,Pepsi (Pepsi),مشروبات,975b3d55-4cab-406a-82a7-7a9dc5675347,True,True,0.0
2,975b3d60-5c79-480a-adfd-f07452c38103,sk-003,كلاسيك لحمه (Tasbera Beef Beef),كلاسيك,975b3d56-ac1f-4e74-9447-40a0f6b1eb0b,True,False,0.0
3,975b3d60-5d3f-46ae-800b-479e5caf7b09,sk-005,بيج تشكس لحمه (بيج تشكس لحمه),بيج تشكس,975b3d57-c30a-4b98-91ed-1711c5c2ca01,True,False,0.0
4,975b3d60-6219-483a-8a07-d3a39f05df8d,sk-004,صوص ثوم حار (Chili Garlic Sauce),صوصات,975b3d54-5c9f-4134-8818-69ae552bd1d9,True,False,0.0

In [27]:
df_products.to_csv('../../data/products.csv', index=False)

# Categories

In [28]:
response = foodics_api('categories')
last_page = response['meta']['last_page']
last_page

list_responses = call_foodics('categories', last_page)

page 1

In [29]:
df_categories = pd.DataFrame([item for sublist in list_responses for item in sublist])
df_categories

,id,name,name_localized,reference,image,created_at,updated_at,deleted_at
0,975b3d54-3467-4686-82ba-fe291c1cca5e,posrocket,None,None,None,2022-09-26 08:34:27,2022-09-26 09:45:19,2022-09-26 09:45:19
1,975b3d54-4ce0-4438-9fcb-20e7f7861b33,تشك تشكس,None,None,None,2022-09-26 08:34:27,2022-09-26 09:45:19,2022-09-26 09:45:19
2,975b3d54-5c9f-4134-8818-69ae552bd1d9,صوصات,None,None,None,2022-09-26 08:34:27,2022-09-26 09:45:19,2022-09-26 09:45:19
3,975b3d54-7f8a-45d2-9b1d-07fc69a4a2f1,اضف لوجبتك,None,None,None,2022-09-26 08:34:27,2022-09-26 09:45:19,2022-09-26 09:45:19
4,975b3d54-b06d-44e7-9227-62d25add8aa0,برو تشكس,None,None,None,2022-09-26 08:34:27,2022-09-26 09:45:19,2022-09-26 09:45:19
5,975b3d54-edb3-4007-b56a-bcd836e98530,تشيزي شكس,None,None,None,2022-09-26 08:34:27,2022-09-26 09:45:19,2022-09-26 09:45:19
6,975b3d55-0f0c-4d01-8eb9-0f13ac420574,اربيان,None,None,None,2022-09-26 08:34:28,2022-09-26 09:45:19,2022-09-26 09:45:19
7,975b3d55-39e7-4019-8210-f84a9af6d86c,فرايز,None,None,None,2022-09-26 08:34:28,2022-09-26 09:45:19,2022-09-26 09:45:19
8,975b3d55-43f9-46ba-8d9d-1a22c3161ab5,Burger,None,None,None,2022-09-26 08:34:28,2022-09-26 09:43:35,2022-09-26 09:43:35
9,975b3d55-49f5-4ee9-945b-a22008d2e9e1,متبرقرة,None,None,None,2022-09-26 08:34:28,2022-09-26 09:45:19,2022-09-26 09:45:19
10,975b3d55-4cab-406a-82a7-7a9dc5675347,مشروبات,None,None,None,2022-09-26 08:34:28,2022-09-26 09:45:19,2022-09-26 09:45:19
11,975b3d55-74ff-4873-be23-76461b20fe83,هوت تشكس,None,None,None,2022-09-26 08:34:28,2022-09-26 09:45:19,2022-09-26 09:45:19
12,975b3d56-0c29-455a-81b5-fb0a4f5bc673,اورجينال,None,None,None,2022-09-26 08:34:28,2022-09-26 09:45:19,2022-09-26 09:45:19
13,975b3d56-2571-48d0-8f2e-145bc92e8dd4,Cocktails,None,None,None,2022-09-26 08:34:28,2022-09-26 09:45:19,2022-09-26 09:45:19
14,975b3d56-394f-4fd9-8843-19e519c7a492,راب تشكس,None,None,None,2022-09-26 08:34:28,2022-09-26 09:45:19,2022-09-26 09:45:19
15,975b3d56-ac1f-4e74-9447-40a0f6b1eb0b,كلاسيك,None,None,None,2022-09-26 08:34:29,2022-09-26 09:45:19,2022-09-26 09:45:19
16,975b3d56-d5f5-4b64-835d-f5c8453ae051,نقاريشنا المقرمشة,None,None,None,2022-09-26 08:34:29,2022-09-26 09:45:19,2022-09-26 09:45:19
17,975b3d57-c30a-4b98-91ed-1711c5c2ca01,بيج تشكس,None,None,None,2022-09-26 08:34:29,2022-09-26 09:45:19,2022-09-26 09:45:19
18,975b5737-c8e7-4ca6-a4b8-2c1546d5b8a1,شاورما,Shawarma,cat-2,None,2022-09-26 09:46:50,2022-09-26 09:46:50,None
19,975b5737-c982-4e3f-9faf-083ca9dc56ac,فرايز,fries,cat-4,None,2022-09-26 09:46:50,2022-09-26 09:46:50,None
20,975b5737-cad1-4031-9319-5e3a7addba42,مشروبات,Drinks,cat-7,None,2022-09-26 09:46:50,2022-09-26 09:46:50,None
21,975b5737-ccc4-4c1f-8599-5e246eee4a3b,برغر دجاج,Chicken Burger,cat-3,None,2022-09-26 09:46:50,2022-09-26 09:46:50,None
22,975b5737-cf8c-4ef3-a445-7c4a71f349c5,صوصات,Sauces,cat-6,None,2022-09-26 09:46:50,2022-09-26 09:46:50,None
23,975b5737-d227-4b7c-9962-3a7b09103597,عصائر,Juices,cat-5,None,2022-09-26 09:46:50,2022-09-26 09:46:50,None

In [30]:
df_categories = df_categories[['id', 'name']].rename(columns={"id":"category_id", 'name':"category_name"})

In [31]:
df_categories.head()

                            category_id category_name
0  975b3d54-3467-4686-82ba-fe291c1cca5e     posrocket
1  975b3d54-4ce0-4438-9fcb-20e7f7861b33      تشك تشكس
2  975b3d54-5c9f-4134-8818-69ae552bd1d9         صوصات
3  975b3d54-7f8a-45d2-9b1d-07fc69a4a2f1    اضف لوجبتك
4  975b3d54-b06d-44e7-9227-62d25add8aa0      برو تشكس

In [32]:
df_categories.to_csv('../../data/categories.csv', index=False)

# Payment Method

In [33]:
response = foodics_api('payment_methods')
last_page = response['meta']['last_page']
last_page

list_responses = call_foodics('payment_methods', last_page)

page 1

In [34]:
df_payment_methods = pd.DataFrame([item for sublist in list_responses for item in sublist])
df_payment_methods

,id,name,name_localized,type,code,auto_open_drawer,is_active,created_at,updated_at,deleted_at,index
0,975b3d24-f43e-4ea0-b15f-20cb00793e0a,Cash,Cash,1,None,True,True,2022-09-26 08:33:56,2022-09-26 08:33:56,None,0
1,975b3d24-f6f9-435b-b228-76e2f271093d,Gift Card,Gift Card,4,None,True,False,2022-09-26 08:33:56,2022-10-02 10:37:38,None,5
2,975b3d24-f91e-4ef0-ae61-e874d84640ef,House Account,House Account,5,None,True,False,2022-09-26 08:33:56,2022-10-02 10:37:38,None,6
3,975b3d68-0946-437c-bc28-d2cc2df34eed,four chicks pp,None,3,None,True,False,2022-09-26 08:34:40,2022-10-02 10:37:38,None,4
4,975b3d68-0ed6-4f4d-ae52-a7f9ce7059ed,CAREEM NOW,None,3,None,True,True,2022-09-26 08:34:40,2022-10-02 10:37:38,None,3
5,97677b0a-647f-488a-907a-9e015fb2af41,Visa / Master Card,None,2,None,True,True,2022-10-02 10:36:57,2022-10-02 10:37:38,None,1
6,97677b3a-cd38-453e-9321-a176ce8092b4,Talabat,None,3,None,True,True,2022-10-02 10:37:28,2022-10-02 10:37:38,None,2

In [35]:
df_payment_methods = df_payment_methods[['id', 'name']].rename(columns={"id":"payment_method_id", 'name':"payment_method_name"})
df_payment_methods

                      payment_method_id payment_method_name
0  975b3d24-f43e-4ea0-b15f-20cb00793e0a                Cash
1  975b3d24-f6f9-435b-b228-76e2f271093d           Gift Card
2  975b3d24-f91e-4ef0-ae61-e874d84640ef       House Account
3  975b3d68-0946-437c-bc28-d2cc2df34eed      four chicks pp
4  975b3d68-0ed6-4f4d-ae52-a7f9ce7059ed         CAREEM  NOW
5  97677b0a-647f-488a-907a-9e015fb2af41  Visa / Master Card
6  97677b3a-cd38-453e-9321-a176ce8092b4             Talabat

In [36]:
df_payment_methods.to_csv('../../data/payment_methods.csv', index=False)

# Orders

In [37]:
df_orders = pd.read_csv('../../data/raw/orders_final_include.csv')
df_orders.reset_index(drop=True, inplace=True)

In [38]:
df_orders.head()

,branch,tags,payments,products,id,app_id,promotion_id,discount_type,reference_x,number,type,source,status,delivery_status,guests,kitchen_notes,customer_notes,business_date,subtotal_price,discount_amount,rounding_amount,total_price,tax_exclusive_discount_amount,delay_in_seconds,meta,opened_at,accepted_at,due_at,driver_assigned_at,dispatched_at,driver_collected_at,delivered_at,closed_at,created_at,updated_at,reference,check_number
0,"{'id': '975b3d24-ce3d-4801-9c11-582a817cc591',...",[{'id': '976773ec-4392-4acb-b707-cf245dc80803'...,[{'payment_method': {'id': '97677b0a-647f-488a...,[{'product': {'id': '975b583e-90af-4319-87d3-0...,4fc10c2a-55a9-45d0-ad37-9e3a48d190f8,8f7884c0-9e14-4833-ba96-3221471e8709,NaN,NaN,NaN,14.0,1,1,4,1.0,1,NaN,NaN,2022-10-02,12.93103,0.0,0.0,15.00,0.0,NaN,{'foodics': {'device_id': '975b3d24-d6cc-45dc-...,2022-10-02 11:01:12,NaN,NaN,NaN,NaN,NaN,NaN,2022-10-02 11:02:57,2022-10-02 11:03:36,2022-11-28 09:26:24,18,100019.0
1,"{'id': '975b3d24-ce3d-4801-9c11-582a817cc591',...",[{'id': '976773ec-4392-4acb-b707-cf245dc80803'...,[{'payment_method': {'id': '975b3d24-f43e-4ea0...,[{'product': {'id': '975b583e-90af-4319-87d3-0...,5babceee-5385-4fa5-b25f-4f1638a70696,8f7884c0-9e14-4833-ba96-3221471e8709,NaN,NaN,NaN,3.0,1,1,4,1.0,1,NaN,NaN,2022-10-02,5.86207,0.0,0.0,6.80,0.0,NaN,{'foodics': {'device_id': '975b3d24-d6cc-45dc-...,2022-10-02 10:39:45,NaN,NaN,NaN,NaN,NaN,NaN,2022-10-02 10:40:49,2022-10-02 10:41:05,2022-11-21 07:53:39,7,100008.0
2,"{'id': '975b3d24-ce3d-4801-9c11-582a817cc591',...",[{'id': '9767742d-0e3f-469a-8f39-49211653f08a'...,[{'payment_method': {'id': '975b3d24-f43e-4ea0...,[{'product': {'id': '975b583e-90af-4319-87d3-0...,3c811baa-93bc-4200-9204-fdee8932f020,8f7884c0-9e14-4833-ba96-3221471e8709,NaN,NaN,NaN,2.0,1,1,4,1.0,1,NaN,NaN,2022-10-02,5.00000,0.0,0.0,5.00,0.0,NaN,{'foodics': {'device_id': '975b3d24-d6cc-45dc-...,2022-10-02 10:31:48,NaN,NaN,NaN,NaN,NaN,NaN,2022-10-02 10:38:55,2022-10-02 10:39:04,2022-10-02 10:47:48,6,100007.0
3,"{'id': '975b3d24-cb71-4df8-930e-054bcd67f90c',...",[{'id': '9767b02e-3a03-4993-89d9-fa065420164e'...,[{'payment_method': {'id': '97677b3a-cd38-453e...,[{'product': {'id': '975b583e-91e6-424e-851d-4...,7e7a67f8-849d-42da-9cac-e29d3144e9ec,8f7884c0-9e14-4833-ba96-3221471e8709,NaN,NaN,NaN,7.0,2,1,4,1.0,1,T #123,NaN,2022-10-02,17.88793,0.0,0.0,20.75,0.0,NaN,{'foodics': {'device_id': '975b3d24-d457-4cb1-...,2022-10-02 13:32:49,NaN,NaN,NaN,NaN,NaN,NaN,2022-10-02 13:36:21,2022-10-02 13:36:54,2022-11-28 11:43:54,30,100011.0
4,"{'id': '975b3d24-cb71-4df8-930e-054bcd67f90c',...",[{'id': '9767b02e-3a03-4993-89d9-fa065420164e'...,[{'payment_method': {'id': '975b3d24-f43e-4ea0...,[{'product': {'id': '975b583e-954c-40ef-8674-5...,e02a78da-8a3e-4dad-8a27-ecc739f8d8a4,8f7884c0-9e14-4833-ba96-3221471e8709,NaN,NaN,NaN,3.0,1,1,4,1.0,1,NaN,NaN,2022-10-02,25.86207,0.0,0.0,30.00,0.0,NaN,{'foodics': {'device_id': '975b3d24-d457-4cb1-...,2022-10-02 13:14:00,NaN,NaN,NaN,NaN,NaN,NaN,2022-10-02 13:14:51,2022-10-02 13:15:22,2022-11-28 11:44:07,26,100007.0

In [39]:
df_orders['branch_id'] = df_orders['branch'].apply(lambda x: eval(x)['id'])

In [40]:
orders_header = df_orders[['id', 'branch_id', 'created_at', 'total_price', 'source', 'type', 'status']].rename(columns={'id':'order_id', 'created_at':'order_date', 'total_price':'order_total_price', 'source':'order_source', 'type':'order_type', 'status':'order_status'})
orders_header.isnull().sum()

order_id             0
branch_id            0
order_date           0
order_total_price    0
order_source         0
order_type           0
order_status         0
dtype: int64

In [41]:
orders_header.head()

,order_id,branch_id,order_date,order_total_price,order_source,order_type,order_status
0,4fc10c2a-55a9-45d0-ad37-9e3a48d190f8,975b3d24-ce3d-4801-9c11-582a817cc591,2022-10-02 11:03:36,15.00,1,1,4
1,5babceee-5385-4fa5-b25f-4f1638a70696,975b3d24-ce3d-4801-9c11-582a817cc591,2022-10-02 10:41:05,6.80,1,1,4
2,3c811baa-93bc-4200-9204-fdee8932f020,975b3d24-ce3d-4801-9c11-582a817cc591,2022-10-02 10:39:04,5.00,1,1,4
3,7e7a67f8-849d-42da-9cac-e29d3144e9ec,975b3d24-cb71-4df8-930e-054bcd67f90c,2022-10-02 13:36:54,20.75,1,2,4
4,e02a78da-8a3e-4dad-8a27-ecc739f8d8a4,975b3d24-cb71-4df8-930e-054bcd67f90c,2022-10-02 13:15:22,30.00,1,1,4

In [42]:
orders_header.to_csv('../../data/order_header.csv', index=False)

# Order Details

In [43]:
df_orders.head()

,branch,tags,payments,products,id,app_id,promotion_id,discount_type,reference_x,number,type,source,status,delivery_status,guests,kitchen_notes,customer_notes,business_date,subtotal_price,discount_amount,rounding_amount,total_price,tax_exclusive_discount_amount,delay_in_seconds,meta,opened_at,accepted_at,due_at,driver_assigned_at,dispatched_at,driver_collected_at,delivered_at,closed_at,created_at,updated_at,reference,check_number,branch_id
0,"{'id': '975b3d24-ce3d-4801-9c11-582a817cc591',...",[{'id': '976773ec-4392-4acb-b707-cf245dc80803'...,[{'payment_method': {'id': '97677b0a-647f-488a...,[{'product': {'id': '975b583e-90af-4319-87d3-0...,4fc10c2a-55a9-45d0-ad37-9e3a48d190f8,8f7884c0-9e14-4833-ba96-3221471e8709,NaN,NaN,NaN,14.0,1,1,4,1.0,1,NaN,NaN,2022-10-02,12.93103,0.0,0.0,15.00,0.0,NaN,{'foodics': {'device_id': '975b3d24-d6cc-45dc-...,2022-10-02 11:01:12,NaN,NaN,NaN,NaN,NaN,NaN,2022-10-02 11:02:57,2022-10-02 11:03:36,2022-11-28 09:26:24,18,100019.0,975b3d24-ce3d-4801-9c11-582a817cc591
1,"{'id': '975b3d24-ce3d-4801-9c11-582a817cc591',...",[{'id': '976773ec-4392-4acb-b707-cf245dc80803'...,[{'payment_method': {'id': '975b3d24-f43e-4ea0...,[{'product': {'id': '975b583e-90af-4319-87d3-0...,5babceee-5385-4fa5-b25f-4f1638a70696,8f7884c0-9e14-4833-ba96-3221471e8709,NaN,NaN,NaN,3.0,1,1,4,1.0,1,NaN,NaN,2022-10-02,5.86207,0.0,0.0,6.80,0.0,NaN,{'foodics': {'device_id': '975b3d24-d6cc-45dc-...,2022-10-02 10:39:45,NaN,NaN,NaN,NaN,NaN,NaN,2022-10-02 10:40:49,2022-10-02 10:41:05,2022-11-21 07:53:39,7,100008.0,975b3d24-ce3d-4801-9c11-582a817cc591
2,"{'id': '975b3d24-ce3d-4801-9c11-582a817cc591',...",[{'id': '9767742d-0e3f-469a-8f39-49211653f08a'...,[{'payment_method': {'id': '975b3d24-f43e-4ea0...,[{'product': {'id': '975b583e-90af-4319-87d3-0...,3c811baa-93bc-4200-9204-fdee8932f020,8f7884c0-9e14-4833-ba96-3221471e8709,NaN,NaN,NaN,2.0,1,1,4,1.0,1,NaN,NaN,2022-10-02,5.00000,0.0,0.0,5.00,0.0,NaN,{'foodics': {'device_id': '975b3d24-d6cc-45dc-...,2022-10-02 10:31:48,NaN,NaN,NaN,NaN,NaN,NaN,2022-10-02 10:38:55,2022-10-02 10:39:04,2022-10-02 10:47:48,6,100007.0,975b3d24-ce3d-4801-9c11-582a817cc591
3,"{'id': '975b3d24-cb71-4df8-930e-054bcd67f90c',...",[{'id': '9767b02e-3a03-4993-89d9-fa065420164e'...,[{'payment_method': {'id': '97677b3a-cd38-453e...,[{'product': {'id': '975b583e-91e6-424e-851d-4...,7e7a67f8-849d-42da-9cac-e29d3144e9ec,8f7884c0-9e14-4833-ba96-3221471e8709,NaN,NaN,NaN,7.0,2,1,4,1.0,1,T #123,NaN,2022-10-02,17.88793,0.0,0.0,20.75,0.0,NaN,{'foodics': {'device_id': '975b3d24-d457-4cb1-...,2022-10-02 13:32:49,NaN,NaN,NaN,NaN,NaN,NaN,2022-10-02 13:36:21,2022-10-02 13:36:54,2022-11-28 11:43:54,30,100011.0,975b3d24-cb71-4df8-930e-054bcd67f90c
4,"{'id': '975b3d24-cb71-4df8-930e-054bcd67f90c',...",[{'id': '9767b02e-3a03-4993-89d9-fa065420164e'...,[{'payment_method': {'id': '975b3d24-f43e-4ea0...,[{'product': {'id': '975b583e-954c-40ef-8674-5...,e02a78da-8a3e-4dad-8a27-ecc739f8d8a4,8f7884c0-9e14-4833-ba96-3221471e8709,NaN,NaN,NaN,3.0,1,1,4,1.0,1,NaN,NaN,2022-10-02,25.86207,0.0,0.0,30.00,0.0,NaN,{'foodics': {'device_id': '975b3d24-d457-4cb1-...,2022-10-02 13:14:00,NaN,NaN,NaN,NaN,NaN,NaN,2022-10-02 13:14:51,2022-10-02 13:15:22,2022-11-28 11:44:07,26,100007.0,975b3d24-cb71-4df8-930e-054bcd67f90c

In [44]:
# I want to create a dataframe with the following columns:
# order_id, product_id, category_id, quantity, product_price

# I will create a list of dictionaries, where each dictionary is a row in the dataframe
# I will then convert the list of dictionaries to a dataframe

list_order_details = []

for index, row in df_orders.iterrows():

    order_id = row['id']
    branch_id = eval(row['branch'])['id']
    order_date = row['created_at']
    order_total_price = row['total_price']
    order_source = row['source']
    order_type = row['type']
    order_status = row['status']

    for order_product in eval(row['products']):

        product_id = order_product['product']['id']
        category_id = df_products[df_products['product_id'] == product_id]['category_id'].values[0]
        quantity = order_product['quantity']
        product_price = order_product['product']['price']

        list_order_details.append({'order_id':order_id,
                                   'branch_id':branch_id,
                                   'order_date':order_date,
                                   'order_total_price':order_total_price,
                                   'order_source':order_source,
                                   'order_type':order_type,
                                   'order_status':order_status,
                                   'product_id':product_id,
                                   'category_id':category_id,
                                   'quantity':quantity,
                                   'product_price':product_price})

In [45]:
orders_details = pd.DataFrame(list_order_details)

In [54]:
orders_details.head()

,order_id,branch_id,order_date,order_total_price,order_source,order_type,order_status,product_id,category_id,quantity,product_price
0,4fc10c2a-55a9-45d0-ad37-9e3a48d190f8,975b3d24-ce3d-4801-9c11-582a817cc591,2022-10-02 11:03:36,15.0,1,1,4,975b583e-90af-4319-87d3-022d8f1936d4,975b5737-ccc4-4c1f-8599-5e246eee4a3b,1,4.5
1,4fc10c2a-55a9-45d0-ad37-9e3a48d190f8,975b3d24-ce3d-4801-9c11-582a817cc591,2022-10-02 11:03:36,15.0,1,1,4,975b583e-96ee-41d6-9ed2-c2fb747e3f0a,975b5737-ccc4-4c1f-8599-5e246eee4a3b,1,5.5
2,4fc10c2a-55a9-45d0-ad37-9e3a48d190f8,975b3d24-ce3d-4801-9c11-582a817cc591,2022-10-02 11:03:36,15.0,1,1,4,975b583e-92bd-46f1-86c1-183d3a1c3c32,975b5737-ccc4-4c1f-8599-5e246eee4a3b,1,5.0
3,5babceee-5385-4fa5-b25f-4f1638a70696,975b3d24-ce3d-4801-9c11-582a817cc591,2022-10-02 10:41:05,6.8,1,1,4,975b583e-90af-4319-87d3-022d8f1936d4,975b5737-ccc4-4c1f-8599-5e246eee4a3b,1,4.5
4,5babceee-5385-4fa5-b25f-4f1638a70696,975b3d24-ce3d-4801-9c11-582a817cc591,2022-10-02 10:41:05,6.8,1,1,4,975b583f-2d41-4563-82d1-b09078a2e80a,975b5737-cf8c-4ef3-a445-7c4a71f349c5,1,0.3

In [46]:
orders_details.to_csv('../../data/order_details.csv', index=False)