In [1]:
import pandas as pd

In [2]:
#read all data
orders_header = pd.read_csv('../../data/order_header.csv')
orders_details = pd.read_csv('../../data/order_details.csv')
products = pd.read_csv('../../data/products.csv')

payment_methods = pd.read_csv('../../data/payment_methods.csv')
branches = pd.read_csv('../../data/branches.csv')
categories = pd.read_csv('../../data/categories.csv')

# Orders Headers

In [3]:
orders_header.head()

,order_id,branch_id,order_date,order_total_price,order_source,order_type,order_status
0,4fc10c2a-55a9-45d0-ad37-9e3a48d190f8,975b3d24-ce3d-4801-9c11-582a817cc591,2022-10-02 14:03:36,15.00,1,1,4
1,5babceee-5385-4fa5-b25f-4f1638a70696,975b3d24-ce3d-4801-9c11-582a817cc591,2022-10-02 13:41:05,6.80,1,1,4
2,3c811baa-93bc-4200-9204-fdee8932f020,975b3d24-ce3d-4801-9c11-582a817cc591,2022-10-02 13:39:04,5.00,1,1,4
3,7e7a67f8-849d-42da-9cac-e29d3144e9ec,975b3d24-cb71-4df8-930e-054bcd67f90c,2022-10-02 16:36:54,20.75,1,2,4
4,e02a78da-8a3e-4dad-8a27-ecc739f8d8a4,975b3d24-cb71-4df8-930e-054bcd67f90c,2022-10-02 16:15:22,30.00,1,1,4

In [4]:
orders_types = {1:'Dine In', 2:'Pick Up', 3:'Delivery', '4':'Drive Thru'}
orders_sources = {1:'Cashier', 2:'API', 3:'Call Center'}
orders_statuses = {1:'Pending', 2:'Active', 3:'Declined', 4:'Closed', 5:'Returned', 6:'Joined', 7:'Void'}

#---------------

orders_header['order_type'] = orders_header['order_type'].map(orders_types)
orders_header['order_source'] = orders_header['order_source'].map(orders_sources)
orders_header['order_status'] = orders_header['order_status'].map(orders_statuses)

In [5]:
orders_header['order_datetime'] = pd.to_datetime(orders_header['order_date'])

In [6]:
orders_header.drop_duplicates(inplace=True)

In [7]:
orders_header.isnull().sum()

order_id             0
branch_id            0
order_date           0
order_total_price    0
order_source         0
order_type           0
order_status         4
order_datetime       0
dtype: int64

In [8]:
orders_header.head()

,order_id,branch_id,order_date,order_total_price,order_source,order_type,order_status,order_datetime
0,4fc10c2a-55a9-45d0-ad37-9e3a48d190f8,975b3d24-ce3d-4801-9c11-582a817cc591,2022-10-02 14:03:36,15.00,Cashier,Dine In,Closed,2022-10-02 14:03:36
1,5babceee-5385-4fa5-b25f-4f1638a70696,975b3d24-ce3d-4801-9c11-582a817cc591,2022-10-02 13:41:05,6.80,Cashier,Dine In,Closed,2022-10-02 13:41:05
2,3c811baa-93bc-4200-9204-fdee8932f020,975b3d24-ce3d-4801-9c11-582a817cc591,2022-10-02 13:39:04,5.00,Cashier,Dine In,Closed,2022-10-02 13:39:04
3,7e7a67f8-849d-42da-9cac-e29d3144e9ec,975b3d24-cb71-4df8-930e-054bcd67f90c,2022-10-02 16:36:54,20.75,Cashier,Pick Up,Closed,2022-10-02 16:36:54
4,e02a78da-8a3e-4dad-8a27-ecc739f8d8a4,975b3d24-cb71-4df8-930e-054bcd67f90c,2022-10-02 16:15:22,30.00,Cashier,Dine In,Closed,2022-10-02 16:15:22

In [9]:
orders_header.rename(columns={'order_id':'order_header_id'}, inplace=True)

In [10]:
orders_header['order_status'].fillna('Void', inplace=True)

In [11]:
orders_header.rename(columns={'order_id':'order_header_id'}, inplace=True)

In [12]:
orders_header.to_csv('../../data/processed/order_header.csv', index=False)

# Order Details

In [13]:
orders_details.head()

,order_id,branch_id,order_date,order_total_price,order_source,order_type,order_status,product_id,category_id,quantity,price
0,4fc10c2a-55a9-45d0-ad37-9e3a48d190f8,975b3d24-ce3d-4801-9c11-582a817cc591,2022-10-02 14:03:36,15.0,1,1,4,975b583e-90af-4319-87d3-022d8f1936d4,975b5737-ccc4-4c1f-8599-5e246eee4a3b,1,4.5
1,4fc10c2a-55a9-45d0-ad37-9e3a48d190f8,975b3d24-ce3d-4801-9c11-582a817cc591,2022-10-02 14:03:36,15.0,1,1,4,975b583e-96ee-41d6-9ed2-c2fb747e3f0a,975b5737-ccc4-4c1f-8599-5e246eee4a3b,1,5.5
2,4fc10c2a-55a9-45d0-ad37-9e3a48d190f8,975b3d24-ce3d-4801-9c11-582a817cc591,2022-10-02 14:03:36,15.0,1,1,4,975b583e-92bd-46f1-86c1-183d3a1c3c32,975b5737-ccc4-4c1f-8599-5e246eee4a3b,1,5.0
3,5babceee-5385-4fa5-b25f-4f1638a70696,975b3d24-ce3d-4801-9c11-582a817cc591,2022-10-02 13:41:05,6.8,1,1,4,975b583e-90af-4319-87d3-022d8f1936d4,975b5737-ccc4-4c1f-8599-5e246eee4a3b,1,4.5
4,5babceee-5385-4fa5-b25f-4f1638a70696,975b3d24-ce3d-4801-9c11-582a817cc591,2022-10-02 13:41:05,6.8,1,1,4,975b583f-2d41-4563-82d1-b09078a2e80a,975b5737-cf8c-4ef3-a445-7c4a71f349c5,1,0.3

In [14]:
filtered_orders_details = orders_details.drop(columns=['order_date', 'order_total_price','order_source', 'order_type', 'order_status', 'branch_id'])
filtered_orders_details.head()

,order_id,product_id,category_id,quantity,price
0,4fc10c2a-55a9-45d0-ad37-9e3a48d190f8,975b583e-90af-4319-87d3-022d8f1936d4,975b5737-ccc4-4c1f-8599-5e246eee4a3b,1,4.5
1,4fc10c2a-55a9-45d0-ad37-9e3a48d190f8,975b583e-96ee-41d6-9ed2-c2fb747e3f0a,975b5737-ccc4-4c1f-8599-5e246eee4a3b,1,5.5
2,4fc10c2a-55a9-45d0-ad37-9e3a48d190f8,975b583e-92bd-46f1-86c1-183d3a1c3c32,975b5737-ccc4-4c1f-8599-5e246eee4a3b,1,5.0
3,5babceee-5385-4fa5-b25f-4f1638a70696,975b583e-90af-4319-87d3-022d8f1936d4,975b5737-ccc4-4c1f-8599-5e246eee4a3b,1,4.5
4,5babceee-5385-4fa5-b25f-4f1638a70696,975b583f-2d41-4563-82d1-b09078a2e80a,975b5737-cf8c-4ef3-a445-7c4a71f349c5,1,0.3

In [15]:
#filtered_orders_details['order_line_id'] = filtered_orders_details['order_id'] + '-' + filtered_orders_details['product_id'].apply(lambda x: x.split('-')[1]) + 
import uuid
filtered_orders_details['order_details_id'] = [str(uuid.uuid4()) for _ in range(len(filtered_orders_details))]
filtered_orders_details.rename(columns={'order_id':'order_header_id'}, inplace=True)

In [16]:
filtered_orders_details.head()

,order_header_id,product_id,category_id,quantity,price,order_details_id
0,4fc10c2a-55a9-45d0-ad37-9e3a48d190f8,975b583e-90af-4319-87d3-022d8f1936d4,975b5737-ccc4-4c1f-8599-5e246eee4a3b,1,4.5,c8adce92-f926-4264-979b-7808415ba1cb
1,4fc10c2a-55a9-45d0-ad37-9e3a48d190f8,975b583e-96ee-41d6-9ed2-c2fb747e3f0a,975b5737-ccc4-4c1f-8599-5e246eee4a3b,1,5.5,22ece602-ca98-429b-b57b-62ec4a6fc4b5
2,4fc10c2a-55a9-45d0-ad37-9e3a48d190f8,975b583e-92bd-46f1-86c1-183d3a1c3c32,975b5737-ccc4-4c1f-8599-5e246eee4a3b,1,5.0,773458d5-31ba-47a5-a814-668856a8dc1b
3,5babceee-5385-4fa5-b25f-4f1638a70696,975b583e-90af-4319-87d3-022d8f1936d4,975b5737-ccc4-4c1f-8599-5e246eee4a3b,1,4.5,41451823-c3ba-4ced-9558-616315228d39
4,5babceee-5385-4fa5-b25f-4f1638a70696,975b583f-2d41-4563-82d1-b09078a2e80a,975b5737-cf8c-4ef3-a445-7c4a71f349c5,1,0.3,634f4a73-b164-4cef-949a-658cdb03797e

In [17]:
filtered_orders_details.drop_duplicates(inplace=True)

In [18]:
filtered_orders_details.to_csv('../../data/processed/order_details.csv', index=False)

# Products

In [19]:
products.head()

,product_id,product_sku,product_name,category_name,category_id,is_active,is_stock_product,price
0,975b583e-8e4e-4500-b416-e77dd352726a,psk-14,تشكس فرايز زنجر,Fries,975b5737-c982-4e3f-9faf-083ca9dc56ac,True,False,5.00
1,975b583e-90a9-420a-804e-b41dddbe0971,psk-5,كلاسيك,Shawarma,975b5737-c8e7-4ca6-a4b8-2c1546d5b8a1,True,False,1.50
2,975b583e-90af-4319-87d3-022d8f1936d4,psk-13,تشكس ستريبس,Chicken burger,975b5737-ccc4-4c1f-8599-5e246eee4a3b,True,False,4.50
3,975b583e-9145-4e05-90e7-9fa596c38888,psk-16,فرايز باجبنة,Fries,975b5737-c982-4e3f-9faf-083ca9dc56ac,True,False,2.50
4,975b583e-91e6-424e-851d-4de6a37813f5,psk-9,اربيان دجاج l,Shawarma,975b5737-c8e7-4ca6-a4b8-2c1546d5b8a1,True,False,3.75

In [20]:
products.head()

,product_id,product_sku,product_name,category_name,category_id,is_active,is_stock_product,price
0,975b583e-8e4e-4500-b416-e77dd352726a,psk-14,تشكس فرايز زنجر,Fries,975b5737-c982-4e3f-9faf-083ca9dc56ac,True,False,5.00
1,975b583e-90a9-420a-804e-b41dddbe0971,psk-5,كلاسيك,Shawarma,975b5737-c8e7-4ca6-a4b8-2c1546d5b8a1,True,False,1.50
2,975b583e-90af-4319-87d3-022d8f1936d4,psk-13,تشكس ستريبس,Chicken burger,975b5737-ccc4-4c1f-8599-5e246eee4a3b,True,False,4.50
3,975b583e-9145-4e05-90e7-9fa596c38888,psk-16,فرايز باجبنة,Fries,975b5737-c982-4e3f-9faf-083ca9dc56ac,True,False,2.50
4,975b583e-91e6-424e-851d-4de6a37813f5,psk-9,اربيان دجاج l,Shawarma,975b5737-c8e7-4ca6-a4b8-2c1546d5b8a1,True,False,3.75

In [21]:
products.product_name.unique()

array(['تشكس فرايز زنجر', 'كلاسيك', 'تشكس ستريبس', 'فرايز باجبنة',
       'اربيان دجاج l', 'تشكس برجر', 'تشيزي', 'اوريجنال', 'بيج ميل',
       'فرايز', 'ديبي برجر', 'تشكس فرايز شاورما', 'موهيتو', 'كوكتيل',
       'برو', 'هوت دجاج', 'ذا بارتي', 'بيبسي', 'اربيان دجاج xl',
       'شيك دجاج', 'مياه', 'سفن', 'هوت صوص', 'مرندا', 'بيبسي دايت', 'ثوم',
       'سفن دايت', 'مخلل', 'جبنة', 'تشكس صوص', 'رانش', 'دبس رمان',
       'راب شيكس', 'صوص ثوم حار', 'فرشلي', '5 اوريجنال عرض كريم 5JD',
       'عرض بيج شيكس / عائلية  / 10JOD', 'عرض 2 وجبة لاج دجاج 5 د',
       'وجبة مشاركة شاورما +زنجر + 2 بيبسي // كريم+ طلبات',
       'وجبة مشاركة برغر + زنجر + 2 بيبسي // كريم+ طلبات', 'وجبة موظفين',
       'عصير موسمي', 'وجبة لارج', 'بيج شيكس عرض فوديز 9 د',
       'وجبة مشاركة برجر عرض 10 د', 'عرض وجبة عائلية 10د',
       'عرض وجبة الاصدقاء  / مشاركة شاورما 6.500 JOD',
       'عرض كريم 2 وجبة لارج 5 د', 'عرض كريم XL اربيان 50%',
       'عرض كريم 2 اورجينال+1 بطاط +1 بيبسي',
       'شيكس برغر / طلبات /  بيبسي +بطاطا',
       'دبي برغر / طلبات /  بيبسي +بطاطا',
       'وجبة مشاركة شاورما + 2 بيبسي  // 8JD',
       'وجبة مشاركة برغر  + 2 بيبسي  // 10JD',
       'شاورما بيج 12 د / عرض كريم'], dtype=object)

In [22]:
from dotenv import load_dotenv
import os

load_dotenv()
business_name = os.getenv("business_name")
if business_name == 'Shawarma 4 Chicks':
    map_product_translation = {
        'تشكس فرايز زنجر': 'Chicks Fries Zinger',
        'كلاسيك': 'Classic',
        'تشكس ستريبس': 'Chicks Strips',
        'فرايز باجبنة': 'Fries with Cheese',
        'اربيان دجاج l': 'Arabian Chicken L',
        'تشكس برجر': 'Chicks Burger',
        'تشيزي': 'Cheesy',
        'اوريجنال': 'Original',
        'بيج ميل': 'Big Meal',
        'فرايز': 'Fries',
        'ديبي برجر': 'Debbie Burger',
        'تشكس فرايز شاورما': 'Chicks Fries Shawarma',
        'موهيتو': 'Mojito',
        'كوكتيل': 'Cocktail',
        'برو': 'Brew',
        'هوت دجاج': 'Hot Chicken',
        'ذا بارتي': 'The Party',
        'بيبسي': 'Pepsi',
        'اربيان دجاج xl': 'Arabian Chicken XL',
        'شيك دجاج': 'Chicken Shake',
        'مياه': 'Water',
        'سفن': '7UP',
        'هوت صوص': 'Hot Sauce',
        'مرندا': 'Mirinda',
        'بيبسي دايت': 'Diet Pepsi',
        'ثوم': 'Garlic',
        'سفن دايت': 'Diet 7UP',
        'مخلل': 'Pickles',
        'جبنة': 'Cheese',
        'تشكس صوص': 'Chicks Sauce',
        'رانش': 'Ranch',
        'دبس رمان': 'Pomegranate Molasses',
        'راب شيكس': 'Wrap Chicks',
        'صوص ثوم حار': 'Spicy Garlic Sauce',
        'فرشلي': 'Freshly',
        '5 اوريجنال عرض كريم 5JD': '5 Original Careem Offer 5JD',
        'عرض بيج شيكس / عائلية  / 10JOD': 'Big Chicks Offer / Family / 10JOD',
        'عرض 2 وجبة لاج دجاج 5 د': '2 Large Chicken Meal Offer 5 JD',
        'وجبة مشاركة شاورما +زنجر + 2 بيبسي // كريم+ طلبات': 'Sharing Meal Shawarma + Zinger + 2 Pepsi // Careem + Orders',
        'وجبة مشاركة برغر + زنجر + 2 بيبسي // كريم+ طلبات': 'Sharing Meal Burger + Zinger + 2 Pepsi // Careem + Orders',
        'وجبة موظفين': 'Staff Meal',
        'عصير موسمي': 'Seasonal Juice',
        'وجبة لارج': 'Large Meal',
        'بيج شيكس عرض فوديز 9 د': 'Big Chicks Fries Offer 9 JD',
        'وجبة مشاركة برجر عرض 10 د': 'Sharing Meal Burger Offer 10 JD',
        'عرض وجبة عائلية 10د': 'Family Meal Offer 10 JD',
        'عرض وجبة الاصدقاء  / مشاركة شاورما 6.500 JOD': 'Friends Meal Offer / Sharing Shawarma 6.500 JOD',
        'عرض كريم 2 وجبة لارج 5 د': 'Careem Offer 2 Large Meals 5 JD',
        'عرض كريم XL اربيان 50%': 'Careem Offer XL Arabian 50%',
        'عرض كريم 2 اورجينال+1 بطاط +1 بيبسي': 'Careem Offer 2 Original + 1 Fries + 1 Pepsi',
        'شيكس برغر / طلبات /  بيبسي +بطاطا': 'Chicks Burger / Orders / Pepsi + Fries',
        'دبي برغر / طلبات /  بيبسي +بطاطا': 'Debbie Burger / Orders / Pepsi + Fries',
        'وجبة مشاركة شاورما + 2 بيبسي  // 8JD': 'Sharing Meal Shawarma + 2 Pepsi // 8JD',
        'وجبة مشاركة برغر  + 2 بيبسي  // 10JD': 'Sharing Meal Burger + 2 Pepsi // 10JD',
        'شاورما بيج 12 د / عرض كريم': 'Shawarma Big 12 JD / Careem Offer'
    }
    products.product_name = products.product_name.map(map_product_translation)

In [23]:
products.product_name.unique().tolist()

['Chicks Fries Zinger',
 'Classic',
 'Chicks Strips',
 'Fries with Cheese',
 'Arabian Chicken L',
 'Chicks Burger',
 'Cheesy',
 'Original',
 'Big Meal',
 'Fries',
 'Debbie Burger',
 'Chicks Fries Shawarma',
 'Mojito',
 'Cocktail',
 'Brew',
 'Hot Chicken',
 'The Party',
 'Pepsi',
 'Arabian Chicken XL',
 'Chicken Shake',
 'Water',
 '7UP',
 'Hot Sauce',
 'Mirinda',
 'Diet Pepsi',
 'Garlic',
 'Diet 7UP',
 'Pickles',
 'Cheese',
 'Chicks Sauce',
 'Ranch',
 'Pomegranate Molasses',
 'Wrap Chicks',
 'Spicy Garlic Sauce',
 'Freshly',
 '5 Original Careem Offer 5JD',
 'Big Chicks Offer / Family / 10JOD',
 '2 Large Chicken Meal Offer 5 JD',
 'Sharing Meal Shawarma + Zinger + 2 Pepsi // Careem + Orders',
 'Sharing Meal Burger + Zinger + 2 Pepsi // Careem + Orders',
 'Staff Meal',
 'Seasonal Juice',
 'Large Meal',
 'Big Chicks Fries Offer 9 JD',
 'Sharing Meal Burger Offer 10 JD',
 'Family Meal Offer 10 JD',
 'Friends Meal Offer / Sharing Shawarma 6.500 JOD',
 'Careem Offer 2 Large Meals 5 JD',
 'Careem Offer XL Arabian 50%',
 'Careem Offer 2 Original + 1 Fries + 1 Pepsi',
 'Chicks Burger / Orders / Pepsi + Fries',
 'Debbie Burger / Orders / Pepsi + Fries',
 'Sharing Meal Shawarma + 2 Pepsi // 8JD',
 'Sharing Meal Burger + 2 Pepsi // 10JD',
 'Shawarma Big 12 JD / Careem Offer']

In [24]:
products.product_sku.unique().tolist()

['psk-14',
 'psk-5',
 'psk-13',
 'psk-16',
 'psk-9',
 'psk-11',
 'psk-6',
 'psk-4',
 'psk-8',
 'psk-17',
 'psk-12',
 'psk-15',
 'psk-20',
 'psk-18',
 'psk-3',
 'psk-2',
 'psk-19',
 'psk-21',
 'psk-10',
 'psk-7',
 'psk-26',
 'psk-23',
 'psk-30',
 'psk-25',
 'psk-22',
 'psk-29',
 'psk-24',
 'psk-28',
 'psk-32',
 'psk-27',
 'psk-31',
 'psk-33',
 'sk-0106',
 'sk-0107',
 'sk-0108',
 'sk-0109',
 'sk-0110',
 'sk-0111',
 'sk-0112',
 'sk-0113',
 'sk-0114',
 'sk-0115',
 'sk-0116',
 'sk-0117',
 'sk-0118',
 'sk-0119',
 'sk-0120',
 'sk-0121',
 'sk-0122',
 'sk-0123',
 'sk-0124',
 'sk-0125',
 'sk-0126',
 'sk-0128',
 'sk-0129',
 'sk-0130']

In [25]:
products[products.product_name.isnull()]

Empty DataFrame
Columns: [product_id, product_sku, product_name, category_name, category_id, is_active, is_stock_product, price]
Index: []

In [26]:
products.product_sku.nunique()

56

In [27]:
products.to_csv('../../data/processed/products.csv', index=False)

# Branches

In [28]:
branches

,branch_id,branch_name,opening_from,opening_to
0,975b3d24-cb71-4df8-930e-054bcd67f90c,4Chicks Abdoun,09:00,03:00
1,975b3d24-ce3d-4801-9c11-582a817cc591,4Chicks 7th circle,10:00,03:00
2,976744f0-20ac-4dd5-a06a-6a1ee9ffa7b5,4Chicks Al-Jubeha,10:00,03:00

In [29]:
branches['opening_from'] = pd.to_datetime(branches['opening_from'])
branches['opening_to'] = pd.to_datetime(branches['opening_to'])

branches['opening_from'] = branches['opening_from'].dt.hour
branches['opening_to'] = branches['opening_to'].dt.hour

In [30]:
branches.to_csv('../../data/processed/branches.csv', index=False)

# Categories

In [31]:
categories

                            category_id   category_name
0  975b5737-c8e7-4ca6-a4b8-2c1546d5b8a1        Shawarma
1  975b5737-c982-4e3f-9faf-083ca9dc56ac           Fries
2  975b5737-cad1-4031-9319-5e3a7addba42          Drinks
3  975b5737-ccc4-4c1f-8599-5e246eee4a3b  Chicken burger
4  975b5737-cf8c-4ef3-a445-7c4a71f349c5          Sauces
5  975b5737-d227-4b7c-9962-3a7b09103597          Juices

In [32]:
categories.to_csv('../../data/processed/categories.csv', index=False)

In [33]:
# def check_values_exist(list1, list2):
#     return all(value in list2 for value in list1)

# check_values_exist(products.category_id.unique(), categories.category_id.unique())