In [1]:
import pandas as pd

In [2]:
#read all data
orders_header = pd.read_csv('../../data/order_header.csv')
orders_details = pd.read_csv('../../data/order_details.csv')
products = pd.read_csv('../../data/products.csv')

payment_methods = pd.read_csv('../../data/payment_methods.csv')
branches = pd.read_csv('../../data/branches.csv')
categories = pd.read_csv('../../data/categories.csv')

# Orders Headers

In [3]:
orders_header.head()

,order_id,branch_id,order_date,order_total_price,order_source,order_type,order_status
0,4fc10c2a-55a9-45d0-ad37-9e3a48d190f8,975b3d24-ce3d-4801-9c11-582a817cc591,2022-10-02 11:03:36,15.00,1,1,4
1,5babceee-5385-4fa5-b25f-4f1638a70696,975b3d24-ce3d-4801-9c11-582a817cc591,2022-10-02 10:41:05,6.80,1,1,4
2,3c811baa-93bc-4200-9204-fdee8932f020,975b3d24-ce3d-4801-9c11-582a817cc591,2022-10-02 10:39:04,5.00,1,1,4
3,7e7a67f8-849d-42da-9cac-e29d3144e9ec,975b3d24-cb71-4df8-930e-054bcd67f90c,2022-10-02 13:36:54,20.75,1,2,4
4,e02a78da-8a3e-4dad-8a27-ecc739f8d8a4,975b3d24-cb71-4df8-930e-054bcd67f90c,2022-10-02 13:15:22,30.00,1,1,4

In [4]:
orders_types = {1:'Dine In', 2:'Pick Up', 3:'Delivery', '4':'Drive Thru'}
orders_sources = {1:'Cashier', 2:'API', 3:'Call Center'}
orders_statuses = {1:'Pending', 2:'Active', 3:'Declined', 4:'Closed', 5:'Returned', 6:'Joined', 7:'Void'}
# orders_delivery_statuses = {1:'sent to kitchen', 2:'ready', 3:'assigned', 4:'en route', 5:'delivered', 6:'closed'}
# products_statuses = {1:'Pending', 2:'Active', 3:'Closed', 4:'Moved', 5:'Void', 6:'Returned', 7:'Declined'}
# discounts_types = {1:'Open', 2:'Predefined', 3:'Coupon', 4:'Loyalty', 5:'Promotion'}

#---------------

orders_header['order_type'] = orders_header['order_type'].map(orders_types)
orders_header['order_source'] = orders_header['order_source'].map(orders_sources)
orders_header['order_status'] = orders_header['order_status'].map(orders_statuses)

In [5]:
orders_header['order_datetime'] = pd.to_datetime(orders_header['order_date'])

orders_header['order_time'] = orders_header['order_datetime'].dt.time
orders_header['order_date'] = orders_header['order_datetime'].dt.date

# orders_header['hour'] = orders_header['order_datetime'].dt.hour
# orders_header['day_name'] = orders_header['order_datetime'].dt.day_name()
# orders_header['is_weekend'] = orders_header['order_datetime'].dt.dayofweek.isin([4, 5])
# orders_header['is_weekend'].replace({True:'Yes', False:'No'}, inplace=True)
# orders_header['month'] = orders_header['order_datetime'].dt.month
# orders_header['year'] = orders_header['order_datetime'].dt.year

In [6]:
orders_header.drop_duplicates(inplace=True)

In [7]:
orders_header.isnull().sum()

order_id             0
branch_id            0
order_date           0
order_total_price    0
order_source         0
order_type           0
order_status         4
order_datetime       0
order_time           0
dtype: int64

In [8]:
orders_header.head()

,order_id,branch_id,order_date,order_total_price,order_source,order_type,order_status,order_datetime,order_time
0,4fc10c2a-55a9-45d0-ad37-9e3a48d190f8,975b3d24-ce3d-4801-9c11-582a817cc591,2022-10-02,15.00,Cashier,Dine In,Closed,2022-10-02 11:03:36,11:03:36
1,5babceee-5385-4fa5-b25f-4f1638a70696,975b3d24-ce3d-4801-9c11-582a817cc591,2022-10-02,6.80,Cashier,Dine In,Closed,2022-10-02 10:41:05,10:41:05
2,3c811baa-93bc-4200-9204-fdee8932f020,975b3d24-ce3d-4801-9c11-582a817cc591,2022-10-02,5.00,Cashier,Dine In,Closed,2022-10-02 10:39:04,10:39:04
3,7e7a67f8-849d-42da-9cac-e29d3144e9ec,975b3d24-cb71-4df8-930e-054bcd67f90c,2022-10-02,20.75,Cashier,Pick Up,Closed,2022-10-02 13:36:54,13:36:54
4,e02a78da-8a3e-4dad-8a27-ecc739f8d8a4,975b3d24-cb71-4df8-930e-054bcd67f90c,2022-10-02,30.00,Cashier,Dine In,Closed,2022-10-02 13:15:22,13:15:22

In [9]:
orders_header.rename(columns={'order_id':'order_header_id'}, inplace=True)

In [10]:
orders_header['order_status'].fillna('Void', inplace=True)

In [11]:
orders_header.rename(columns={'order_id':'order_header_id'}, inplace=True)

In [12]:
orders_header.to_csv('../../data/processed/order_header.csv', index=False)

# Order Details

In [13]:
orders_details.head()

,order_id,branch_id,order_date,order_total_price,order_source,order_type,order_status,product_id,category_id,quantity,product_price
0,4fc10c2a-55a9-45d0-ad37-9e3a48d190f8,975b3d24-ce3d-4801-9c11-582a817cc591,2022-10-02 11:03:36,15.0,1,1,4,975b583e-90af-4319-87d3-022d8f1936d4,975b5737-ccc4-4c1f-8599-5e246eee4a3b,1,4.5
1,4fc10c2a-55a9-45d0-ad37-9e3a48d190f8,975b3d24-ce3d-4801-9c11-582a817cc591,2022-10-02 11:03:36,15.0,1,1,4,975b583e-96ee-41d6-9ed2-c2fb747e3f0a,975b5737-ccc4-4c1f-8599-5e246eee4a3b,1,5.5
2,4fc10c2a-55a9-45d0-ad37-9e3a48d190f8,975b3d24-ce3d-4801-9c11-582a817cc591,2022-10-02 11:03:36,15.0,1,1,4,975b583e-92bd-46f1-86c1-183d3a1c3c32,975b5737-ccc4-4c1f-8599-5e246eee4a3b,1,5.0
3,5babceee-5385-4fa5-b25f-4f1638a70696,975b3d24-ce3d-4801-9c11-582a817cc591,2022-10-02 10:41:05,6.8,1,1,4,975b583e-90af-4319-87d3-022d8f1936d4,975b5737-ccc4-4c1f-8599-5e246eee4a3b,1,4.5
4,5babceee-5385-4fa5-b25f-4f1638a70696,975b3d24-ce3d-4801-9c11-582a817cc591,2022-10-02 10:41:05,6.8,1,1,4,975b583f-2d41-4563-82d1-b09078a2e80a,975b5737-cf8c-4ef3-a445-7c4a71f349c5,1,0.3

In [14]:
filtered_orders_details = orders_details.drop(columns=['order_date', 'order_total_price','order_source', 'order_type', 'order_status', 'branch_id'])
filtered_orders_details.head()

,order_id,product_id,category_id,quantity,product_price
0,4fc10c2a-55a9-45d0-ad37-9e3a48d190f8,975b583e-90af-4319-87d3-022d8f1936d4,975b5737-ccc4-4c1f-8599-5e246eee4a3b,1,4.5
1,4fc10c2a-55a9-45d0-ad37-9e3a48d190f8,975b583e-96ee-41d6-9ed2-c2fb747e3f0a,975b5737-ccc4-4c1f-8599-5e246eee4a3b,1,5.5
2,4fc10c2a-55a9-45d0-ad37-9e3a48d190f8,975b583e-92bd-46f1-86c1-183d3a1c3c32,975b5737-ccc4-4c1f-8599-5e246eee4a3b,1,5.0
3,5babceee-5385-4fa5-b25f-4f1638a70696,975b583e-90af-4319-87d3-022d8f1936d4,975b5737-ccc4-4c1f-8599-5e246eee4a3b,1,4.5
4,5babceee-5385-4fa5-b25f-4f1638a70696,975b583f-2d41-4563-82d1-b09078a2e80a,975b5737-cf8c-4ef3-a445-7c4a71f349c5,1,0.3

In [15]:
#filtered_orders_details['order_line_id'] = filtered_orders_details['order_id'] + '-' + filtered_orders_details['product_id'].apply(lambda x: x.split('-')[1]) + 
import uuid
filtered_orders_details['order_details_id'] = [str(uuid.uuid4()) for _ in range(len(filtered_orders_details))]
filtered_orders_details.rename(columns={'order_id':'order_header_id'}, inplace=True)

In [16]:
filtered_orders_details.head()

,order_header_id,product_id,category_id,quantity,product_price,order_details_id
0,4fc10c2a-55a9-45d0-ad37-9e3a48d190f8,975b583e-90af-4319-87d3-022d8f1936d4,975b5737-ccc4-4c1f-8599-5e246eee4a3b,1,4.5,db104ddb-2315-4614-8c58-c693b3c925a5
1,4fc10c2a-55a9-45d0-ad37-9e3a48d190f8,975b583e-96ee-41d6-9ed2-c2fb747e3f0a,975b5737-ccc4-4c1f-8599-5e246eee4a3b,1,5.5,7ca9536a-1c07-4e5d-be0a-d897e6b70a6d
2,4fc10c2a-55a9-45d0-ad37-9e3a48d190f8,975b583e-92bd-46f1-86c1-183d3a1c3c32,975b5737-ccc4-4c1f-8599-5e246eee4a3b,1,5.0,c6610b9a-cd42-436e-97a7-98fa3ae8b3b8
3,5babceee-5385-4fa5-b25f-4f1638a70696,975b583e-90af-4319-87d3-022d8f1936d4,975b5737-ccc4-4c1f-8599-5e246eee4a3b,1,4.5,153d22b8-60b5-488a-95af-e2fd01f436fb
4,5babceee-5385-4fa5-b25f-4f1638a70696,975b583f-2d41-4563-82d1-b09078a2e80a,975b5737-cf8c-4ef3-a445-7c4a71f349c5,1,0.3,8e07965b-a9ec-45f7-bffb-a2f4ce903d50

In [17]:
filtered_orders_details.drop_duplicates(inplace=True)

In [18]:
filtered_orders_details.to_csv('../../data/processed/order_details.csv', index=False)

# Products

In [19]:
products.head()

,product_id,product_sku,product_name,category_name,category_id,is_active,is_stock_product,price
0,975b583e-8e4e-4500-b416-e77dd352726a,psk-14,NaN,Fries,975b5737-c982-4e3f-9faf-083ca9dc56ac,True,False,5.00
1,975b583e-90a9-420a-804e-b41dddbe0971,psk-5,NaN,Shawarma,975b5737-c8e7-4ca6-a4b8-2c1546d5b8a1,True,False,1.50
2,975b583e-90af-4319-87d3-022d8f1936d4,psk-13,NaN,Chicken burger,975b5737-ccc4-4c1f-8599-5e246eee4a3b,True,False,4.50
3,975b583e-9145-4e05-90e7-9fa596c38888,psk-16,NaN,Fries,975b5737-c982-4e3f-9faf-083ca9dc56ac,True,False,2.50
4,975b583e-91e6-424e-851d-4de6a37813f5,psk-9,NaN,Shawarma,975b5737-c8e7-4ca6-a4b8-2c1546d5b8a1,True,False,3.75

In [20]:
products.product_name.fillna(products.category_name, inplace=True)

In [21]:
products.head()

,product_id,product_sku,product_name,category_name,category_id,is_active,is_stock_product,price
0,975b583e-8e4e-4500-b416-e77dd352726a,psk-14,Fries,Fries,975b5737-c982-4e3f-9faf-083ca9dc56ac,True,False,5.00
1,975b583e-90a9-420a-804e-b41dddbe0971,psk-5,Shawarma,Shawarma,975b5737-c8e7-4ca6-a4b8-2c1546d5b8a1,True,False,1.50
2,975b583e-90af-4319-87d3-022d8f1936d4,psk-13,Chicken burger,Chicken burger,975b5737-ccc4-4c1f-8599-5e246eee4a3b,True,False,4.50
3,975b583e-9145-4e05-90e7-9fa596c38888,psk-16,Fries,Fries,975b5737-c982-4e3f-9faf-083ca9dc56ac,True,False,2.50
4,975b583e-91e6-424e-851d-4de6a37813f5,psk-9,Shawarma,Shawarma,975b5737-c8e7-4ca6-a4b8-2c1546d5b8a1,True,False,3.75

In [22]:
products.category_name.unique()

array(['Fries', 'Shawarma', 'Chicken burger', 'Juices', 'Drinks',
       'Sauces'], dtype=object)

In [23]:
products.to_csv('../../data/processed/products.csv', index=False)

# Branches

In [24]:
branches.head()

,branch_id,branch_name,opening_from,opening_to
0,975b3d24-cb71-4df8-930e-054bcd67f90c,4Chicks Abdoun,09:00,03:00
1,975b3d24-ce3d-4801-9c11-582a817cc591,4Chicks 7th circle,10:00,03:00
2,976744f0-20ac-4dd5-a06a-6a1ee9ffa7b5,4Chicks Al-Jubeha,10:00,03:00

In [25]:
branches['opening_from'] = pd.to_datetime(branches['opening_from'])
branches['opening_to'] = pd.to_datetime(branches['opening_to'])

branches['opening_from'] = branches['opening_from'].dt.hour
branches['opening_to'] = branches['opening_to'].dt.hour

In [26]:
branches.to_csv('../../data/processed/branches.csv', index=False)

# Categories

In [27]:
categories

                            category_id   category_name
0  975b5737-c8e7-4ca6-a4b8-2c1546d5b8a1        Shawarma
1  975b5737-c982-4e3f-9faf-083ca9dc56ac           Fries
2  975b5737-cad1-4031-9319-5e3a7addba42          Drinks
3  975b5737-ccc4-4c1f-8599-5e246eee4a3b  Chicken burger
4  975b5737-cf8c-4ef3-a445-7c4a71f349c5          Sauces
5  975b5737-d227-4b7c-9962-3a7b09103597          Juices

In [28]:
categories.to_csv('../../data/processed/categories.csv', index=False)

In [29]:
# def check_values_exist(list1, list2):
#     return all(value in list2 for value in list1)

# check_values_exist(products.category_id.unique(), categories.category_id.unique())