In [1]:
import pandas as pd
import requests
import json


def foodics_api(method, args={}):
    if len(args.keys()):
        if 'business_date_after' in args.keys():
            business_date_after = args['business_date_after']
            url = f"https://api.foodics.com/v5/{method}?filter[business_date_after]={business_date_after}"
    else:
        url = f"https://api.foodics.com/v5/{method}"

    token = 'eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6ImM1ZmIxMjE2MDk0YTEyODQ3ZTkyMTBhNDAxNjUzNDE4ZDI2ZWEyZGY1YTMzYzQ2ZDcyMzM3ZDhlMTc2ZDQwMmJkNjVkNTFiNmQ4YThlYTE3In0.eyJhdWQiOiI5OTNjNWM1Ni05YjkyLTRhYmMtOWUwNy05YjdjMGNiMzQ0NzUiLCJqdGkiOiJjNWZiMTIxNjA5NGExMjg0N2U5MjEwYTQwMTY1MzQxOGQyNmVhMmRmNWEzM2M0NmQ3MjMzN2Q4ZTE3NmQ0MDJiZDY1ZDUxYjZkOGE4ZWExNyIsImlhdCI6MTY4NDk0MDU3OSwibmJmIjoxNjg0OTQwNTc5LCJleHAiOjE4NDI3OTMzNzksInN1YiI6Ijk3NWIzY2U3LTIyMTItNDZjMS1hMjg2LTA4NjU4YjQ1NWRiNSIsInNjb3BlcyI6W10sImJ1c2luZXNzIjoiOTc1YjNjZTctMzllZC00MGIxLWJmODItYmZhZjRkYmY0YTdlIiwicmVmZXJlbmNlIjoiNjMyMzc4In0.aMxoYSkN1NFxvEgfd0itmmvENYt73A7gky5AIup7rgRIe8uY5T9sJPVzOj3kJfFcCadNwBjB-h6fKMKAc1QmcJY1G5j8Va9edCUYXmUNl1hMh2OydMH87AFJ7DSqK2Wic-spanliG7tsRdLihN9aRl4676TriA8Bd93iV9J4ZPgfmhdhytE5VMNqVDDTjX2CRNo2HzJQwEQFzZjZCZwt36jSjt_zk36YGNx2Fd1zk2ryZvfDsnnSZB4G8DNJPNmd9gAfvoSW3RvYn46qXm3ZRO4dZoUaixO7Fqb1-p0_UHHTDKIHV50i4Wpc1hNCjdRGI6g1dVG8cl-sYIKa8cNKHn_PzBRy6Q81XIEMrnSLQUHxLlqDms4f4YDIAUVSfem0gKtR2UMIeS8X1FtJkgTvbXTipvoXDMilWWo0sNAJ3wSQ_75b0aPd_p_6Hbydh2-2gJilLZ6tsDbkjsx5FjUp9LNDTuWof5U-5x-1glQAixoQPcqz-LMB6pFFPq-kaecmSPOhKM24MMg2YFBTyzARjah36lZ8YtJCZ0A4N87pDsOzTI8HGyBH19Z-MtFuQpoAVoBgDG9kApCgeEjnIuJtmrEWdcyWPx0WjXqm7qGot-fRQ71IhDJT8EQ5YRiYm8Gg3Yn3AobpwhBtWRaNiVDBCxIQJMUQrQL40YCWYQxwZy4'
    headers = {
    'Authorization': f'Bearer {token}',
    'Accept': 'application/json',
    'Content-Type': 'application/json'
    }

    response = requests.request("GET", url, headers=headers, data={})
    if response.status_code != 200:
        return response.status_code

    return response.json()

In [2]:
from datetime import date, timedelta

today = date.today()
yesterday = today - timedelta(days=2)
yesterday = yesterday.strftime("%Y-%m-%d")
yesterday

'2023-05-28'

In [3]:
orders = pd.read_csv('../../data/raw/orders.csv')
max_date = (pd.to_datetime(orders['business_date'].max()) - timedelta(days=2)).strftime("%Y-%m-%d")
max_date

'2023-05-28'

In [4]:
response = foodics_api('orders', {'business_date_after': max_date})
last_page = response['meta']['last_page']
print(last_page)

22

In [5]:

import time

list_responses = []

for page in range(1, last_page+1):
    print(f"page {page}")
    retries = 3
    success = False

    while not success and retries > 0:
        try:
            response = foodics_api(f'orders?filter[business_date_after]={max_date}&page={page}')
            
            # If the request is successful, the following line will be executed
            list_responses.append(response['data'])
            success = True
        except Exception as e:
            print(f"Request failed with page: {page} {str(e)}, retrying... {retries} retries left.")
            retries -= 1
            time.sleep(70) # wait 70 seconds before retrying


    if not success:
        print(f"Failed to retrieve data for page {page} after 3 retries.")
        break

data = pd.DataFrame([observation for sublist in list_responses for observation in sublist])
if not len(data):
    print("No new data")
    raise SystemExit

print("shape:", data.shape)

print("Max date:", data['created_at'].max())
print("Min date:", data['created_at'].min())

page 1
page 2
page 3
page 4
page 5
page 6
page 7
page 8
page 9
page 10
page 11
page 12
page 13
page 14
page 15
page 16
page 17
page 18
page 19
page 20
page 21
page 22
shape: (1079, 33)
Max date: 2023-05-30 18:47:37
Min date: 2023-05-29 08:00:07

In [6]:
from pytz import timezone
amman_tz = timezone('Asia/Amman')
data['created_at'] = pd.to_datetime(data['created_at'])
data['created_at'] = data['created_at'].dt.tz_localize('UTC').dt.tz_convert(amman_tz)

In [7]:
orders.business_date.unique()

array(['2023-01-18', '2023-01-21', '2023-04-13', '2023-02-07',
       '2022-11-13', '2023-02-22', '2023-04-08', '2023-04-06',
       '2022-11-06', '2022-12-01', '2023-01-30', '2022-12-04',
       '2023-02-14', '2023-02-24', '2022-10-29', '2023-05-24',
       '2022-12-05', '2023-05-20', '2023-05-22', '2022-12-31',
       '2022-12-11', '2023-05-04', '2022-10-20', '2022-12-12',
       '2023-01-07', '2023-02-03', '2023-01-09', '2022-12-16',
       '2022-11-26', '2022-12-08', '2023-03-17', '2023-03-18',
       '2022-12-30', '2023-05-16', '2023-03-07', '2023-04-12',
       '2023-01-20', '2022-12-15', '2023-02-11', '2023-02-21',
       '2022-12-22', '2022-10-21', '2023-05-19', '2023-02-20',
       '2023-04-02', '2022-11-02', '2023-03-12', '2022-10-16',
       '2023-02-12', '2023-05-12', '2023-05-15', '2023-04-15',
       '2023-05-21', '2023-05-10', '2022-11-15', '2023-01-12',
       '2023-02-13', '2023-01-26', '2023-02-01', '2023-02-26',
       '2023-01-05', '2023-03-15', '2023-02-27', '2023-01-08',
       '2023-03-14', '2023-02-18', '2023-05-11', '2023-02-19',
       '2023-04-24', '2023-03-08', '2022-12-24', '2023-04-19',
       '2022-11-23', '2022-11-30', '2022-10-27', '2023-03-01',
       '2023-05-07', '2023-04-29', '2023-03-02', '2023-02-06',
       '2023-01-28', '2023-05-23', '2022-12-19', '2022-12-18',
       '2023-04-17', '2023-05-02', '2022-12-17', '2023-02-10',
       '2023-04-03', '2022-12-07', '2023-03-06', '2022-11-28',
       '2023-03-19', '2022-12-28', '2022-12-13', '2023-01-23',
       '2023-03-22', '2022-10-13', '2023-04-11', '2023-01-24',
       '2022-10-26', '2023-05-08', '2022-12-14', '2022-10-23',
       '2023-01-14', '2022-12-10', '2023-03-16', '2023-04-14',
       '2022-10-17', '2023-01-01', '2023-05-03', '2023-01-10',
       '2022-11-07', '2023-04-22', '2023-02-23', '2023-03-09',
       '2022-12-25', '2023-04-07', '2023-03-05', '2023-04-16',
       '2023-04-21', '2022-10-30', '2023-04-23', '2023-04-20',
       '2023-01-16', '2023-02-02', '2023-02-16', '2023-04-04',
       '2023-04-28', '2023-03-11', '2023-03-10', '2022-12-02',
       '2023-05-09', '2023-05-18', '2023-01-02', '2023-04-27',
       '2023-02-15', '2023-01-03', '2022-12-27', '2023-03-04',
       '2023-05-05', '2023-04-26', '2023-01-04', '2023-02-17',
       '2023-05-13', '2023-01-31', '2023-01-06', '2022-10-18',
       '2022-11-27', '2022-11-11', '2022-12-20', '2022-11-24',
       '2022-12-09', '2022-10-19', '2023-01-29', '2023-02-28',
       '2023-01-19', '2022-10-14', '2022-12-29', '2022-10-28',
       '2022-11-16', '2023-04-25', '2023-01-27', '2023-04-05',
       '2022-12-21', '2023-03-21', '2022-10-22', '2023-05-06',
       '2023-01-15', '2023-01-17', '2023-02-05', '2022-12-26',
       '2023-02-09', '2022-11-29', '2023-03-13', '2023-04-18',
       '2022-11-17', '2023-01-11', '2023-04-10', '2023-04-30',
       '2022-11-21', '2022-11-03', '2022-11-08', '2022-11-22',
       '2023-02-04', '2022-12-23', '2022-11-10', '2022-11-20',
       '2023-03-30', '2023-03-20', '2022-12-03', '2022-10-31',
       '2022-11-05', '2023-01-25', '2022-11-19', '2022-11-04',
       '2023-01-13', '2023-05-01', '2023-03-31', '2022-11-01',
       '2022-11-25', '2023-05-14', '2022-12-06', '2022-10-15',
       '2022-10-25', '2023-05-17', '2022-11-18', '2022-11-09',
       '2023-03-03', '2023-02-25', '2023-02-08', '2023-04-09',
       '2023-04-01', '2022-11-12', '2022-11-14', '2023-01-22',
       '2022-10-02', '2023-05-25', '2022-10-24', '2023-05-26',
       '2023-05-27', '2023-05-28', '2023-05-29', '2023-05-30'],
      dtype=object)

In [8]:
all_data_raw = pd.concat([orders[~orders.business_date.isin(data.business_date.unique())], data])
all_data_raw.to_csv('../../data/raw/orders.csv', index=False)

In [9]:
data.to_csv('../../data/raw/orders_updates.csv', index=False)

In [10]:
orders_types = {1:'Dine In', 2:'Pick Up', 3:'Delivery', '4':'Drive Thru'}
orders_sources = {1:'Cashier', 2:'API', 3:'Call Center'}
orders_statuses = {1:'Pending', 2:'Active', 3:'Declined', 4:'Closed', 5:'Returned', 6:'Joined', 7:'Void'}
orders_delivery_statuses = {1:'sent to kitchen', 2:'ready', 3:'assigned', 4:'en route', 5:'delivered', 6:'closed'}
products_statuses = {1:'Pending', 2:'Active', 3:'Closed', 4:'Moved', 5:'Void', 6:'Returned', 7:'Declined'}
discounts_types = {1:'Open', 2:'Predefined', 3:'Coupon', 4:'Loyalty', 5:'Promotion'}

In [11]:
data['type'] = data['type'].map(orders_types)
data['source'] = data['source'].map(orders_sources)
data['status'] = data['status'].map(orders_statuses)
data['delivery_status'] = data['delivery_status'].map(orders_delivery_statuses)
# data['product_status'] = data['product_status'].map(products_statuses)
data['discount_type'] = data['discount_type'].map(discounts_types)

In [12]:
needed_columns = ['id', 'created_at', 'type', 'source', 'status', 'subtotal_price', 'total_price']

In [13]:
sub_data = data[needed_columns].copy()

In [14]:
sub_data.isnull().sum()

id                0
created_at        0
type              0
source            0
status            0
subtotal_price    0
total_price       0
dtype: int64

In [15]:
sub_data.isnull().sum()

id                0
created_at        0
type              0
source            0
status            0
subtotal_price    0
total_price       0
dtype: int64

In [16]:
sub_data = sub_data.sort_values("created_at")
sub_data = sub_data.reset_index(drop=True)

In [17]:
sub_data.status.value_counts()

Closed      1067
Void           9
Returned       3
Name: status, dtype: int64

In [18]:
sub_data.source.value_counts()

Cashier        1009
Call Center      70
Name: source, dtype: int64

In [19]:
sub_data.type.value_counts()

Pick Up     905
Dine In     134
Delivery     40
Name: type, dtype: int64

In [20]:
sub_data['created_at'] = pd.to_datetime(sub_data['created_at'])

In [21]:
sub_data['date'] = sub_data['created_at'].dt.date
sub_data['hour'] = sub_data['created_at'].dt.hour
sub_data['day_name'] = sub_data['created_at'].dt.day_name()
sub_data['is_weekend'] = sub_data['created_at'].dt.dayofweek.isin([4, 5])
sub_data['is_weekend'].replace({True:'Yes', False:'No'}, inplace=True)
sub_data['month'] = sub_data['created_at'].dt.month
sub_data['year'] = sub_data['created_at'].dt.year

In [22]:
final_orders_data = sub_data.groupby(['date', 'hour', 'month', 'year', 'day_name', 'is_weekend', 'type', 'source']).agg(sales=pd.NamedAgg(column='total_price', aggfunc='sum'), count=pd.NamedAgg(column='total_price', aggfunc='count')).reset_index()

In [23]:
final_orders_data.tail(10)

,date,hour,month,year,day_name,is_weekend,type,source,sales,count
81,2023-05-30,19,5,2023,Tuesday,No,Delivery,Call Center,13.25,2
82,2023-05-30,19,5,2023,Tuesday,No,Dine In,Cashier,30.50,6
83,2023-05-30,19,5,2023,Tuesday,No,Pick Up,Call Center,14.00,1
84,2023-05-30,19,5,2023,Tuesday,No,Pick Up,Cashier,268.25,30
85,2023-05-30,20,5,2023,Tuesday,No,Delivery,Call Center,52.25,3
86,2023-05-30,20,5,2023,Tuesday,No,Dine In,Cashier,79.25,7
87,2023-05-30,20,5,2023,Tuesday,No,Pick Up,Cashier,430.00,47
88,2023-05-30,21,5,2023,Tuesday,No,Dine In,Cashier,105.80,14
89,2023-05-30,21,5,2023,Tuesday,No,Pick Up,Call Center,38.50,3
90,2023-05-30,21,5,2023,Tuesday,No,Pick Up,Cashier,381.40,39

In [24]:
data_to_append = final_orders_data.copy()

In [25]:
data_to_append.tail()

,date,hour,month,year,day_name,is_weekend,type,source,sales,count
86,2023-05-30,20,5,2023,Tuesday,No,Dine In,Cashier,79.25,7
87,2023-05-30,20,5,2023,Tuesday,No,Pick Up,Cashier,430.00,47
88,2023-05-30,21,5,2023,Tuesday,No,Dine In,Cashier,105.80,14
89,2023-05-30,21,5,2023,Tuesday,No,Pick Up,Call Center,38.50,3
90,2023-05-30,21,5,2023,Tuesday,No,Pick Up,Cashier,381.40,39

In [26]:
data_to_append.date.max()

datetime.date(2023, 5, 30)

In [27]:
data_to_append.to_csv('../../data/processed/orders_updated.csv', index=False)