In [1]:
import pandas as pd
import requests
import json


def foodics_api(method, args={}):
    if len(args.keys()):
        if 'business_date_after' in args.keys():
            business_date_after = args['business_date_after']
            url = f"https://api.foodics.com/v5/{method}?filter[business_date_after]={business_date_after}"
    else:
        url = f"https://api.foodics.com/v5/{method}"

    token = 'eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6ImM1ZmIxMjE2MDk0YTEyODQ3ZTkyMTBhNDAxNjUzNDE4ZDI2ZWEyZGY1YTMzYzQ2ZDcyMzM3ZDhlMTc2ZDQwMmJkNjVkNTFiNmQ4YThlYTE3In0.eyJhdWQiOiI5OTNjNWM1Ni05YjkyLTRhYmMtOWUwNy05YjdjMGNiMzQ0NzUiLCJqdGkiOiJjNWZiMTIxNjA5NGExMjg0N2U5MjEwYTQwMTY1MzQxOGQyNmVhMmRmNWEzM2M0NmQ3MjMzN2Q4ZTE3NmQ0MDJiZDY1ZDUxYjZkOGE4ZWExNyIsImlhdCI6MTY4NDk0MDU3OSwibmJmIjoxNjg0OTQwNTc5LCJleHAiOjE4NDI3OTMzNzksInN1YiI6Ijk3NWIzY2U3LTIyMTItNDZjMS1hMjg2LTA4NjU4YjQ1NWRiNSIsInNjb3BlcyI6W10sImJ1c2luZXNzIjoiOTc1YjNjZTctMzllZC00MGIxLWJmODItYmZhZjRkYmY0YTdlIiwicmVmZXJlbmNlIjoiNjMyMzc4In0.aMxoYSkN1NFxvEgfd0itmmvENYt73A7gky5AIup7rgRIe8uY5T9sJPVzOj3kJfFcCadNwBjB-h6fKMKAc1QmcJY1G5j8Va9edCUYXmUNl1hMh2OydMH87AFJ7DSqK2Wic-spanliG7tsRdLihN9aRl4676TriA8Bd93iV9J4ZPgfmhdhytE5VMNqVDDTjX2CRNo2HzJQwEQFzZjZCZwt36jSjt_zk36YGNx2Fd1zk2ryZvfDsnnSZB4G8DNJPNmd9gAfvoSW3RvYn46qXm3ZRO4dZoUaixO7Fqb1-p0_UHHTDKIHV50i4Wpc1hNCjdRGI6g1dVG8cl-sYIKa8cNKHn_PzBRy6Q81XIEMrnSLQUHxLlqDms4f4YDIAUVSfem0gKtR2UMIeS8X1FtJkgTvbXTipvoXDMilWWo0sNAJ3wSQ_75b0aPd_p_6Hbydh2-2gJilLZ6tsDbkjsx5FjUp9LNDTuWof5U-5x-1glQAixoQPcqz-LMB6pFFPq-kaecmSPOhKM24MMg2YFBTyzARjah36lZ8YtJCZ0A4N87pDsOzTI8HGyBH19Z-MtFuQpoAVoBgDG9kApCgeEjnIuJtmrEWdcyWPx0WjXqm7qGot-fRQ71IhDJT8EQ5YRiYm8Gg3Yn3AobpwhBtWRaNiVDBCxIQJMUQrQL40YCWYQxwZy4'
    headers = {
    'Authorization': f'Bearer {token}',
    'Accept': 'application/json',
    'Content-Type': 'application/json'
    }

    response = requests.request("GET", url, headers=headers, data={})
    if response.status_code != 200:
        return response.status_code

    return response.json()

In [2]:
from datetime import date, timedelta

today = date.today()
yesterday = today - timedelta(days=2)
yesterday = yesterday.strftime("%Y-%m-%d")
yesterday

'2023-05-25'

In [3]:


response = foodics_api('orders', {'business_date_after': yesterday})
last_page = response['meta']['last_page']
print(last_page)

import time

list_responses = []

for page in range(1, last_page+1):
    print(f"page {page}")
    retries = 3
    success = False

    while not success and retries > 0:
        try:
            response = foodics_api(f'orders?filter[business_date_after]={yesterday}&page={page}')
            
            # If the request is successful, the following line will be executed
            list_responses.append(response['data'])
            success = True
        except Exception as e:
            print(f"Request failed with page: {page} {str(e)}, retrying... {retries} retries left.")
            retries -= 1
            time.sleep(70) # wait 70 seconds before retrying


    if not success:
        print(f"Failed to retrieve data for page {page} after 3 retries.")
        break

data = pd.DataFrame([observation for sublist in list_responses for observation in sublist])

print("shape:", data.shape)

print("Max date:", data['created_at'].max())
print("Min date:", data['created_at'].min())

13
page 1
page 2
page 3
page 4
page 5
page 6
page 7
page 8
page 9
page 10
page 11
page 12
page 13
shape: (633, 33)
Max date: 2023-05-27 08:49:16
Min date: 2023-05-26 10:28:57

In [4]:
data.to_csv('../../data/raw/orders_updates.csv', index=False)

In [5]:
orders_types = {1:'Dine In', 2:'Pick Up', 3:'Delivery', '4':'Drive Thru'}
orders_sources = {1:'Cashier', 2:'API', 3:'Call Center'}
orders_statuses = {1:'Pending', 2:'Active', 3:'Declined', 4:'Closed', 5:'Returned', 6:'Joined', 7:'Void'}
orders_delivery_statuses = {1:'sent to kitchen', 2:'ready', 3:'assigned', 4:'en route', 5:'delivered', 6:'closed'}
products_statuses = {1:'Pending', 2:'Active', 3:'Closed', 4:'Moved', 5:'Void', 6:'Returned', 7:'Declined'}
discounts_types = {1:'Open', 2:'Predefined', 3:'Coupon', 4:'Loyalty', 5:'Promotion'}

In [6]:
data['type'] = data['type'].map(orders_types)
data['source'] = data['source'].map(orders_sources)
data['status'] = data['status'].map(orders_statuses)
data['delivery_status'] = data['delivery_status'].map(orders_delivery_statuses)
# data['product_status'] = data['product_status'].map(products_statuses)
data['discount_type'] = data['discount_type'].map(discounts_types)

In [7]:
needed_columns = ['id', 'created_at', 'type', 'source', 'status', 'subtotal_price', 'total_price']

In [8]:
sub_data = data[needed_columns].copy()

In [9]:
sub_data.isnull().sum()

id                0
created_at        0
type              0
source            0
status            0
subtotal_price    0
total_price       0
dtype: int64

In [10]:
sub_data.isnull().sum()

id                0
created_at        0
type              0
source            0
status            0
subtotal_price    0
total_price       0
dtype: int64

In [11]:
sub_data = sub_data.sort_values("created_at")
sub_data = sub_data.reset_index(drop=True)

In [12]:
sub_data.status.value_counts()

Closed      624
Void          8
Returned      1
Name: status, dtype: int64

In [13]:
sub_data.source.value_counts()

Cashier        595
Call Center     38
Name: source, dtype: int64

In [14]:
sub_data.type.value_counts()

Pick Up     487
Dine In     125
Delivery     21
Name: type, dtype: int64

In [15]:
sub_data['created_at'] = pd.to_datetime(sub_data['created_at'])

In [16]:
sub_data['date'] = sub_data['created_at'].dt.date
sub_data['hour'] = sub_data['created_at'].dt.hour
sub_data['day_name'] = sub_data['created_at'].dt.day_name()
sub_data['is_weekend'] = sub_data['created_at'].dt.dayofweek.isin([4, 5])
sub_data['is_weekend'].replace({True:'Yes', False:'No'}, inplace=True)
sub_data['month'] = sub_data['created_at'].dt.month
sub_data['year'] = sub_data['created_at'].dt.year

In [17]:
final_orders_data = sub_data.groupby(['date', 'hour', 'month', 'year', 'day_name', 'is_weekend', 'type', 'source']).agg(cashflow=('total_price', 'sum')).reset_index()

In [18]:
final_orders_data.tail()

,date,hour,month,year,day_name,is_weekend,type,source,cashflow
43,2023-05-26,22,5,2023,Friday,Yes,Dine In,Cashier,72.25
44,2023-05-26,22,5,2023,Friday,Yes,Pick Up,Cashier,192.90
45,2023-05-26,23,5,2023,Friday,Yes,Dine In,Cashier,18.00
46,2023-05-26,23,5,2023,Friday,Yes,Pick Up,Cashier,19.90
47,2023-05-27,8,5,2023,Saturday,Yes,Pick Up,Cashier,20.25

In [19]:
data_to_append = final_orders_data[final_orders_data.date == pd.to_datetime(yesterday) + timedelta(days=1)]

/tmp/ipykernel_9209/1788527748.py:1: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior. In a future version these will be considered non-comparable. Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  data_to_append = final_orders_data[final_orders_data.date == pd.to_datetime(yesterday) + timedelta(days=1)]

In [20]:
data_to_append.tail()

,date,hour,month,year,day_name,is_weekend,type,source,cashflow
42,2023-05-26,22,5,2023,Friday,Yes,Delivery,Call Center,20.00
43,2023-05-26,22,5,2023,Friday,Yes,Dine In,Cashier,72.25
44,2023-05-26,22,5,2023,Friday,Yes,Pick Up,Cashier,192.90
45,2023-05-26,23,5,2023,Friday,Yes,Dine In,Cashier,18.00
46,2023-05-26,23,5,2023,Friday,Yes,Pick Up,Cashier,19.90

In [21]:
data_to_append.to_csv('../../data/processed/orders_updated.csv', index=False)